<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
    <!--
      <div class="pull-left image">
        <img src="img/avatar-160x160.png" class="img-circle" alt="User Image">
      </div>
    -->
      <div class="pull-left info" style="position: static;">
        <p>Doter Hexacopter</p>
        <a href="#"><i class="fa fa-circle text-success"></i> <span id="drone_status">Dashboard</span></a>
      </div>
    </div>

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>

      <li class="active treeview">
        <a href="#">
          <i class="fa fa-plane"></i> <span id="flight_mode">Mode</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="/mode/1" class="set-mode" data-id="1"><i class="fa fa-circle-o"></i> Stabilize</a></li>
          <li><a class="set-mode" href="/mode/2"  data-id="2"><i class="fa fa-circle-o"></i> Alt Hold</a></li>
          <li><a class="set-mode" href="/mode/3" data-id="3"><i class="fa fa-circle-o"></i> Loiter</a></li>
          <li><a class="set-mode" href="/mode/4" data-id="4"><i class="fa fa-circle-o"></i> RTL</a></li>
          <li><a class="set-mode" href="/mode/5" data-id="5"><i class="fa fa-circle-o"></i> Auto</a></li>
        </ul>
      </li>

      
      <li class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Reports</span>
          <span class="label label-primary pull-right">4</span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
          <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
          <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
          <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-th"></i> <span>Settings</span> <small class="label pull-right bg-green">0</small>
        </a>
      </li>
      
      <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
