<!DOCTYPE html>
<html lang="en">
	<% include partials/head %>
	<body class="hold-transition skin-blue sidebar-mini">
    <% include partials/dashboard %>

    <% include partials/footer %>
	</body>
</html>